* text=auto
.gitattributes text eol=lf
.gitignore text eol=lf
*.sh text eol=lf
*.c text eol=lf
*.h text eol=lf
*.md text eol=lf
*.mk text eol=lf
*.hash text eol=lf
*.fragment text eol=lf
*.defconfig text eol=lf
Makefile text eol=lf
Config.in text eol=lf
external.desc text eol=lf
external.mk text eol=lf
*.dts text eol=lf
*.dtsi text eol=lf
*.cfg text eol=lf
*.conf text eol=lf
package/lcpi-lvgl-test/S* text eol=lf
board/lctech/lcpi-t113/rootfs_overlay/** text eol=lf
